<!DOCTYPE html>
<html>
<head>
	<title>Lista de Produtos</title>
</head>
<body>
	<table>
		<tr>
			<td>id</td>
			<td>titulo</td>
		</tr>
		<td>1</td>
			<td>tudo sobre node js</td>
		</tr>	
	</table>
</body>
</html>